@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../image/register_back.jpg) no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed;
}
.post-form{
	width: 900px;
	height: 550px;
	border-radius: 10px;
	margin: auto;
	margin-top: 1%;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px #afcacb;
}
.table-left{
	width: 50%;
	height: 100%;
	background-color: #0099FF;
	background-image: url(../image/table_left.png);
	border-radius: 10px 0 0 10px;
	float: left;
}
.table-right{
	width: 50%;
	height: 80%;
	float: right;
}
.table-seg{
	width: 95%;
	height: 1px;
	margin-left: 2.5%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #cecece;
}
.fa-user-circle{
	color: #0099FF;

}
.table-right h2{
	color: #0099FF;
	line-height:2em;
}

a{
	text-decoration: none;
	color: #3CB0FE;
}
a{
	text-decoration: none;
	color: #3CB0FE;
}
a:hover{
	color: #0089FF;
	transition: .4s;
}
.right-login{
	margin-left: 55%;
}
.title{
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: 20px;
	display:flex;
}
.table-input{
	width: 90%;
	height:95%;
	margin-left:5%;
	overflow-y:auto;
}
.table-input .content-left{
	width: 100%;
	background-color: RGB(173, 205, 255);
	top: 10%;
	left: 0;
}
.nav{
	margin: 5px 0;
}

.question{
	height:100px;
	width: 90%;
	color: white;
	font-weight:bold;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-left: 2em;
	cursor: pointer;
}
.question:hover{
	padding-left: 2.5em;
	color: #fffff;
	background-color: #0089FF;
	font-size: 15.5px;
	transition: .4s;
}

.item-content{
	width: 100%;
	background-color: #question;
}
.item-content .answer{
	display: block;
	width: 100%;
	color: #ffff;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}
.seg{
	height: 2px;
	width: 100%;
	background-color: #0089FF;
}